@font-face {
    font-family: bebas;
    src: url('fonts/BEBAS.ttf') format('truetype');
}
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: url("assets/load_page_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

a:link, a:visited{
    text-decoration: none;
}
/*=============================CSS EFFECTS==========================*/
.grayscale {
    filter: grayscale(70%);
    -webkit-filter: grayscale(70%);
}

.dropshadow {
    filter: drop-shadow(0px 0px 20px white);
    -webkit-filter: drop-shadow(0px 0px 20px white);
}

.dropshadow_2 {
    filter: drop-shadow(0px 0px 3px white);
    -webkit-filter: drop-shadow(0px 0px 3px white);
}


.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.flash {
    -webkit-animation: flash 1s linear infinite;
    animation: flash 1s linear infinite;
    animation-name: flash;
}

@keyframes flash {
    from, 50%, to {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

@keyframes blinker {
    50% { opacity: 0.3; }
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeInLeftBig {
    animation-name: fadeInLeftBig;
}

@keyframes fadeInLeftBig {
    from {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInRightBig {
    animation-name: fadeInRightBig;
}

@keyframes fadeInRightBig {
    from {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
/*=============================LOADING SCREEN==========================*/
/*-----------------------------logo-----------------------------*/

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s;
    animation-timing-function: ease-in;
}

.logo h1{
    font-family: BEBAS, sans-serif;
    color: white;
    font-size: 10vmax;
    letter-spacing: -5px;
    margin: 0;
}

.logo h3{
    font-family: BEBAS, sans-serif;
    color: white;
    font-size: 2vmax;
    letter-spacing: 1.5vw;
    margin: 0;
    text-align: center;
    border-top: 0.3vmax solid white;
    border-bottom: 0.3vmax solid white;
}

.player_hero{
    width: 50vw;
    height: 100vh;
    display: inline-block;
    float: left;
}

.player_villain {
    width: 50vw;
    height: 100vh;
    display: inline-block;
}

.captain_america, .ultron{
    animation-delay: 2s;
}

/*---------------------------Game Menu/Option--------------------------*/
.select_hero {
    font-family: BEBAS, sans-serif;
    position: absolute;
    top: 35vh;
    height: 40px;
    background-color: rgba(3, 78, 136, 0.7);
    padding: 10px 200px 10px 50px;
    margin-bottom: 20px;
    margin-left: 1%;
    animation-delay: 2.5s;
}

.select_villain {
    font-family: BEBAS, sans-serif;
    position: absolute;
    top: 45%;
    height: 40px;
    background-color: red;
    padding: 10px 110px 10px 50px;
    margin-bottom: 20px;
    margin-left: 1%;
    animation-delay: 3s;
}

.select_play {
    font-family: BEBAS, sans-serif;
    position: absolute;
    top: 55%;
    height: 40px;
    background-color: dimgray;
    padding: 10px 120px 10px 50px;
    margin-bottom: 20px;
    margin-left: 1%;
    animation-delay: 3.5s;
}

.select_hero p, .select_villain p, .select_play p {
    color: white;
    margin: 10px 20px 20px 0px;
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
}

.select_hero:before, .select_villain:before, .select_play:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 60px solid rgba(3, 78, 136, 0.7);
    border-right: 60px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
}


.select_hero:before {
    border-top: 60px solid rgba(3, 78, 136, 0.7);
}

.select_villain:before {
    border-top: 60px solid red;
}

.select_play:before {
    border-top: 60px solid dimgray;
}

/*=============================GAME SCREEN=============================*/
/*--------------------------Hero Game Play Option----------------------*/
.hero_background {
    background-image: url("assets/hero_background.jpg");
}

/*------------------------Villain Game Play Option---------------------*/
.villain_background {
    background-image: url("assets/villain_background.jpg");
}
/*------------------------Villain Game Play Option---------------------*/
.logo_area{
    position: absolute;
    top: 0;
    left: 0;
    width: 31vw;
    height: 33vh;
    opacity: 0;
}
/*-----------------------------Stats Container--------------------------*/
.stats_container {
    position: absolute;
    top: 39%;
    left: 1%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 32%;
    box-shadow: 0px 0px 20px #888888;
}

.label {
    font-family: BEBAS, sans-serif;
    color: #ff4f4f;
    font-size: 1.5vmax;
    letter-spacing: 1vw;
    text-align: center;
    border-top: 0.2vmax solid #ff4f4f;
    border-bottom: 0.2vmax solid #ff4f4f;
    margin-bottom: 2%;
    box-shadow: 0px 0px 10px white;
}

.value {
    width: auto;
    height: 11vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3vmax;
    font-weight: 700;
    font-family: orbitron, sans-serif;
}

button.reset {
    width: 100%;
    box-shadow: 0px 0px 20px #888888;
    background-color: #2e2f2f;
    color: white;
    font-family: bebas, sans-serif;
    letter-spacing: 1vw;
    font-size: 1.5vmax;
    border-radius: 4px;
    border-width: 4px;
    border-color: #1f2123;
}

button:focus{
    outline: none;
}

/*-----------------------------Game Board--------------------------*/
.game_board {
    position: absolute;
    top: 4%;
    right: 1%;
    width: 65%;
    height: 92%;
}

.row {
    width: 100%;
    height: 23%;
    margin: 0 0 2% 0;
    white-space: nowrap;
}

.card{
    width: 13%;
    height: 100%;
    position: relative;
    display: inline-block;
    margin-right: 1%;
    padding: 0;
    box-shadow: 0px 0px 20px #888888;
}

img.front, img.back {
    position: absolute;
    width: 100%;
    height: 100%;
}

img.front {
    background-color: rgba(0,0,0, 0.6);
}
